@import "tailwindcss";
@plugin "daisyui";

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e1f8ff;
  scroll-behavior: smooth;
}
